In [77]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
%matplotlib inline

In [78]:
pwd

'/Users/juliantheriot'

In [79]:
thinkful = pd.read_csv('/Users/juliantheriot/downloads/WELLCOME_APCspend2013_forThinkful.csv', encoding='unicode_escape')
thinkful.head()

,PMID/PMCID,Publisher,Journal title,Article title,COST (£) charged to Wellcome (inc VAT when charged)
0,NaN,CUP,Psychological Medicine,Reduced parahippocampal cortical thickness in ...,£0.00
1,PMC3679557,ACS,Biomacromolecules,Structural characterization of a Model Gram-ne...,£2381.04
2,23043264 PMC3506128,ACS,J Med Chem,"Fumaroylamino-4,5-epoxymorphinans and related ...",£642.56
3,23438330 PMC3646402,ACS,J Med Chem,Orvinols with mixed kappa/mu opioid receptor a...,£669.64
4,23438216 PMC3601604,ACS,J Org Chem,Regioselective opening of myo-inositol orthoes...,£685.88

In [80]:
def is_a_string(x):
    return str(x).isalpha()
print(thinkful.apply(is_a_string))

PMID/PMCID                                             False
Publisher                                              False
Journal title                                          False
Article title                                          False
COST (£) charged to Wellcome (inc VAT when charged)    False
dtype: bool

In [81]:
print(list(filter(lambda x: str(x).isalpha(), thinkful)))

print('\nApplying filter() to each value in the series:')
print(thinkful.apply(lambda x: ''.join(list(filter(str.isalpha, str(x))))))

['Publisher']

Applying filter() to each value in the series:
PMID/PMCID                                             NaNPMCPMCPMCPMCPMCPMCPMCPMCIDPMCPMCIDPMCPMCIDP...
Publisher                                              CUPACSACSACSACSACSACSACSACSAmercianChemicalSoc...
Journal title                                          PsychologicalMedicineBiomacromoleculesJMedChem...
Article title                                          ReducedparahippocampalcorticalthicknessinStruc...
COST (£) charged to Wellcome (inc VAT when charged)    NameCOSTchargedtoWellcomeincVATwhenchargedLeng...
dtype: object

In [82]:
Publisher = 'Publisher'
Journal = 'Journal title'
words = pd.Series(['Publisher', 'Journal title'])
word_split = words.str.split('$', expand=True)
Publisher = word_split[0]
Journal = word_split[0]
print(Publisher, '\n')
print(Journal)

0        Publisher
1    Journal title
Name: 0, dtype: object

0        Publisher
1    Journal title
Name: 0, dtype: object

In [83]:
print(thinkful['Journal title'].isnull)

<bound method Series.isnull of 0                                  Psychological Medicine
1                                       Biomacromolecules
2                                              J Med Chem
3                                              J Med Chem
4                                              J Org Chem
5                          Journal of Medicinal Chemistry
6                            Journal of Proteome Research
7                                               Mol Pharm
8                                    ACS Chemical Biology
9                                    ACS Chemical Biology
10           Journal of Chemical Information and Modeling
11                         Journal of Medicinal Chemistry
12                         Journal of Medicinal Chemistry
13                                           Biochemistry
14                         Journal of Medicinal Chemistry
15                                       Gastroenterology
16                        Journal of Biological Chemistry
17                                  Journal of Immunology
18                                  Journal of Immunology
19                                   ACS Chemical Biology
20                                   ACS Chemical Biology
21                                   ACS Chemical Biology
22                              ACS Chemical Neuroscience
23                                               ACS NANO
24                              American Chemical Society
25                                   Analytical Chemistry
26                                   Analytical Chemistry
27                                   Analytical Chemistry
28                                 Bioconjugate Chemistry
29                         Journal of Medicinal Chemistry
                              ...
2097                               Molecular Microbiology
2098                                      Obesity Reviews
2099                                      Obesity Reviews
2100                               Statistics in Medicine
2101                                           Stem Cells
2102                                              Synapse
2103                 The European Journal of Neuroscience
2104                                              Traffic
2105                                              Traffic
2106                           Zoonoses and Public Health
2107                  American Journal of Transplantation
2108                                   Angew chems Int Ed
2109                                          CHEMBIOCHEM
2110                                          Chemmedchem
2111                                          Chemmedchem
2112                                          ChemMedChem
2113                                            Protemics
2114                     Journal of Small Animal Practice
2115                                                 AIDS
2116                                         AIDS Journal
2117                                              AIDS UK
2118                                              AIDS UK
2119    JAIDS Journal of Acquired Immune Deficiency Sy...
2120    Journal of Acquired Immune Deficiency Syndroms...
2121                                      Journal of Aids
2122                                 Circulation Research
2123                                                 AIDS
2124                                 Pediatr Infect Dis J
2125                                                 AIDS
2126      Journal of Acquired Immune Deficiency Syndromes
Name: Journal title, Length: 2127, dtype: object>

In [84]:
print(thinkful.isnull().sum())

PMID/PMCID                                             199
Publisher                                                0
Journal title                                            1
Article title                                            0
COST (£) charged to Wellcome (inc VAT when charged)      0
dtype: int64

In [85]:
print(thinkful['Publisher'].isnull)

<bound method Series.isnull of 0                                                CUP
1                                                ACS
2                                                ACS
3                                                ACS
4                                                ACS
5                                                ACS
6                                                ACS
7                                                ACS
8       ACS (Amercian Chemical Society) Publications
9       ACS (Amercian Chemical Society) Publications
10      ACS (Amercian Chemical Society) Publications
11      ACS (Amercian Chemical Society) Publications
12      ACS (Amercian Chemical Society) Publications
13                                  ACS Publications
14                                  ACS Publications
15                                     AGA Institute
16                                             AMBSB
17             American Association of Immunologists
18             American Association of Immunologists
19                         American Chemical Society
20                         American Chemical Society
21                         American Chemical Society
22                         American Chemical Society
23                         AMERICAN CHEMICAL SOCIETY
24                         American Chemical Society
25                         American Chemical Society
26                         American Chemical Society
27                         American Chemical Society
28                         American Chemical Society
29                         American Chemical Society
                            ...
2097                                 Wiley-Blackwell
2098                                 Wiley-Blackwell
2099                                 Wiley-Blackwell
2100                                 Wiley-Blackwell
2101                                 Wiley-Blackwell
2102                                 Wiley-Blackwell
2103                                 Wiley-Blackwell
2104                                 Wiley-Blackwell
2105                                 Wiley-Blackwell
2106                                 Wiley-Blackwell
2107              Wiley-Blackwell, John Wiley & Sons
2108                                       Wiley-VCH
2109                                       Wiley-VCH
2110                                       Wiley-VCH
2111                                       Wiley-VCH
2112                                       Wiley-VCH
2113                                       Wiley-VCH
2114                                 Wliey-Blackwell
2115                                  Wolters Kluwer
2116                                  Wolters Kluwer
2117                                  Wolters Kluwer
2118                                  Wolters Kluwer
2119                                  Wolters Kluwer
2120                                  Wolters Kluwer
2121                                  Wolters Kluwer
2122                           Wolters Kluwer Health
2123                          Wolters Kluwer Health
2124                          Wolters Kluwer Health
2125                   Wolters Kluwer N.V./Lippinott
2126                                 Wolters Kluwers
Name: Publisher, Length: 2127, dtype: object>

In [86]:
print(thinkful.isnull().sum())

PMID/PMCID                                             199
Publisher                                                0
Journal title                                            1
Article title                                            0
COST (£) charged to Wellcome (inc VAT when charged)      0
dtype: int64

In [87]:
thinkful.drop(columns=["PMID/PMCID"], inplace=True)
thinkful.head()

,Publisher,Journal title,Article title,COST (£) charged to Wellcome (inc VAT when charged)
0,CUP,Psychological Medicine,Reduced parahippocampal cortical thickness in ...,£0.00
1,ACS,Biomacromolecules,Structural characterization of a Model Gram-ne...,£2381.04
2,ACS,J Med Chem,"Fumaroylamino-4,5-epoxymorphinans and related ...",£642.56
3,ACS,J Med Chem,Orvinols with mixed kappa/mu opioid receptor a...,£669.64
4,ACS,J Org Chem,Regioselective opening of myo-inositol orthoes...,£685.88

In [88]:
thinkful.dropna(subset=['Journal title'], inplace=True)

In [89]:
print(thinkful.isnull().sum())

Publisher                                              0
Journal title                                          0
Article title                                          0
COST (£) charged to Wellcome (inc VAT when charged)    0
dtype: int64

In [90]:
thinkful.rename(columns={'COST (£) charged to Wellcome (inc VAT when charged)':'Price'}, inplace=True)
thinkful.head()

,Publisher,Journal title,Article title,Price
0,CUP,Psychological Medicine,Reduced parahippocampal cortical thickness in ...,£0.00
1,ACS,Biomacromolecules,Structural characterization of a Model Gram-ne...,£2381.04
2,ACS,J Med Chem,"Fumaroylamino-4,5-epoxymorphinans and related ...",£642.56
3,ACS,J Med Chem,Orvinols with mixed kappa/mu opioid receptor a...,£669.64
4,ACS,J Org Chem,Regioselective opening of myo-inositol orthoes...,£685.88

In [91]:
thinkful['Journal title']=thinkful['Journal title'].str.upper()
thinkful.head()

,Publisher,Journal title,Article title,Price
0,CUP,PSYCHOLOGICAL MEDICINE,Reduced parahippocampal cortical thickness in ...,£0.00
1,ACS,BIOMACROMOLECULES,Structural characterization of a Model Gram-ne...,£2381.04
2,ACS,J MED CHEM,"Fumaroylamino-4,5-epoxymorphinans and related ...",£642.56
3,ACS,J MED CHEM,Orvinols with mixed kappa/mu opioid receptor a...,£669.64
4,ACS,J ORG CHEM,Regioselective opening of myo-inositol orthoes...,£685.88

In [92]:
thinkful['Journal title']=thinkful['Journal title'].str.strip()
thinkful.head()

,Publisher,Journal title,Article title,Price
0,CUP,PSYCHOLOGICAL MEDICINE,Reduced parahippocampal cortical thickness in ...,£0.00
1,ACS,BIOMACROMOLECULES,Structural characterization of a Model Gram-ne...,£2381.04
2,ACS,J MED CHEM,"Fumaroylamino-4,5-epoxymorphinans and related ...",£642.56
3,ACS,J MED CHEM,Orvinols with mixed kappa/mu opioid receptor a...,£669.64
4,ACS,J ORG CHEM,Regioselective opening of myo-inositol orthoes...,£685.88

In [93]:
thinkful['Journal title'].value_counts()

PLOS ONE                                                      190
JOURNAL OF BIOLOGICAL CHEMISTRY                                53
NEUROIMAGE                                                     29
NUCLEIC ACIDS RESEARCH                                         26
PLOS GENETICS                                                  24
PLOS PATHOGENS                                                 24
PROCEEDINGS OF THE NATIONAL ACADEMY OF SCIENCES                22
PLOS NEGLECTED TROPICAL DISEASES                               20
NATURE COMMUNICATIONS                                          19
HUMAN MOLECULAR GENETICS                                       19
MOVEMENT DISORDERS                                             15
BRAIN                                                          14
BMC PUBLIC HEALTH                                              14
JOURNAL OF NEUROSCIENCE                                        13
BIOCHEMICAL JOURNAL                                            12
DEVELOPMENTAL CELL                                             12
JOURNAL OF GENERAL VIROLOGY                                    11
CURRENT BIOLOGY                                                11
BMJ                                                            10
MALARIA JOURNAL                                                10
NEURON                                                          9
CELL REPORTS                                                    9
BMJ OPEN                                                        9
DEVELOPMENT                                                     9
JOURNAL OF VIROLOGY                                             9
PLOS COMPUTATIONAL BIOLOGY                                      9
PLOSONE                                                         9
NEUROBIOLOGY OF AGING                                           8
PROCEEDINGS OF THE ROYAL SOCIETY B: BIOLOGICAL SCIENCES         8
JOURNAL OF PHYSIOLOGY                                           8
                                                             ...
BRITISH MEDICAL BULLETIN                                        1
JOURNAL OF CHEMICAL INFORMATION AND MODELING                    1
JOURNAL OF HOSPITAL INFECTIONS                                  1
CELL DEATH AND DIFFERENTIATION                                  1
HEART AND CIRCULATORY PHYSIOLOGY                                1
MOLECULAR PAIN                                                  1
MOLECULAR AND CELLULAR BIOLOGY                                  1
PROCEEDINGS OF THE NATIONAL ACADEMY OF SCIENCES OF THE USA      1
DRUG AND ALCOHOL REVIEW                                         1
INTERNATIONAL JOURNAL OF FINANCIAL RESEARCH                     1
FRONTIERS IN COGNITIVE SCIENCE                                  1
CHEMSITRY & BIOLOGY                                             1
FRONTIERS IN GENETICS                                           1
JOURNAL OF EPIDEMIOLOGY AND COMMUNITY HEALTH                    1
BIOCHIMICA ET BIOOHYSICA ACTA - MOLECULAR BASIS OF DISEASE      1
EUROPEAN JOURNAL OF ENGLISH STUDIES                             1
CELL DEATH DIFFERENTIATION                                      1
J INFECT DIS                                                    1
AMERICAN JOURNAL OF PATHOLOGY                                   1
JOURNAL OF ANTHROPOLOGICAL ARCHAEOLOGY                          1
CLINICAL AND EXPERIMENTAL ALLERGY                               1
RSTB 2012.0145                                                  1
THE JOURNAL OF NEUROPHYSIOLOGY                                  1
AMERICAN JOURNAL OF CLINICAL NUTRITION                          1
CLINICAL AND VACCINE IMMUNOLOGY                                 1
FREE RADICAL AND BIOLOGY MEDICINE                               1
STATISTICS IN MEDICINE                                          1
PROTEIN ENGINEERING, DESIGN AND SELECTION (                     1
BULLETIN OF THE HISTORY OF MEDICINE                             1
URBAN HISTORY                                                   1
Name: Journal title, Length: 894, dtype: int64

In [100]:
thinkful['Price'] = thinkful['Price'].str.replace('£', '').replace('$', '')
thinkful['Price'] = pd.to_numeric(thinkful['Price'], errors='coerce')
thinkful.head()
thinkful.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2126 entries, 0 to 2126
Data columns (total 4 columns):
Publisher        2126 non-null object
Journal title    2126 non-null object
Article title    2126 non-null object
Price            2126 non-null float64
dtypes: float64(1), object(3)
memory usage: 83.0+ KB

In [101]:
thinkful.describe()

               Price
count    2126.000000
mean    24072.451609
std    146895.027687
min         0.000000
25%      1280.000000
50%      1883.860000
75%      2321.230000
max    999999.000000

In [103]:
Journal = thinkful['Journal title'].value_counts()
Journal[0:5]

PLOS ONE                           190
JOURNAL OF BIOLOGICAL CHEMISTRY     53
NEUROIMAGE                          29
NUCLEIC ACIDS RESEARCH              26
PLOS GENETICS                       24
Name: Journal title, dtype: int64

In [115]:
def journal_cost(x): 

    pub = thinkful[thinkful['Journal title'] == x]

    mean = pub['Price'].mean()
    median = pub['Price'].median()
    std = pub['Price'].std()

    print('Journal title:',x,'\nMean:',mean,'\nMedian:',median,'\nStandard deviation:',std, '\n')

In [116]:
print(journal_cost('PLOS ONE'))
print(journal_cost('JOURNAL OF BIOLOGICAL CHEMISTRY'))
print(journal_cost('NEUROIMAGE'))
print(journal_cost('NUCLEIC ACIDS RESEARCH'))
print(journal_cost('PLOS GENETICS'))

Journal title: PLOS ONE
Mean: 38751.29136842105
Median: 898.475
Standard deviation: 189009.51197380977

None
Journal title: JOURNAL OF BIOLOGICAL CHEMISTRY
Mean: 20264.63396226415
Median: 1314.53
Standard deviation: 137165.48839818343

None
Journal title: NEUROIMAGE
Mean: 2215.168275862069
Median: 2326.43
Standard deviation: 266.65394691928987

None
Journal title: NUCLEIC ACIDS RESEARCH
Mean: 1149.0
Median: 852.0
Standard deviation: 442.9404474644419

None
Journal title: PLOS GENETICS
Mean: 84839.435
Median: 1718.3899999999999
Standard deviation: 281865.70779441687

None